<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/website/index.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contentweb">
    <div th:replace="website/product/headder:: header"></div>
    <div class="product-details-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div th:replace="website/product/productdetailsimage:: productimage"></div>
                    <div th:replace="website/product/product_details:: product_details"></div>
                    <div th:replace="website/product/similarproduct:: similarproduct"></div>
                </div>
                <div class="col-lg-3">
                    <div th:replace="website/product/featured:: featured"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>