<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DienThoaiVN</title>
</head>
<body>
<div class="product-details-inner" th:fragment="productimage">
  <div class="row">
    <div class="col-lg-6">
      <div class="product-large-slider mb-20 slick-arrow-style_2">
        <div class="pro-large-img img-zoom" th:each="item: ${imgProduct}">
          <img th:src="${item.name}" alt="" />
        </div>

      </div>
      <div class="pro-nav slick-padding2 slick-arrow-style_2">
        <div  class="pro-nav-thumb" th:each="item: ${imgProduct}"><img th:src="${item.name}" alt="" /></div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="product-details-des mt-md-34 mt-sm-34">
        <h3><a href="product-details.html" th:text="${product.name}"></a></h3>
        <div class="ratings">
          <span class="good"><i class="fa fa-star"></i></span>
          <span class="good"><i class="fa fa-star"></i></span>
          <span class="good"><i class="fa fa-star"></i></span>
          <span class="good"><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <div class="pro-review">
            <span>1 review(s)</span>
          </div>
        </div>
        <div class="customer-rev">
          <a href="#">(1 customer review)</a>
        </div>
        <div class="availability mt-10">
          <h5>Dung lượng:</h5>
          <span th:text="${product.properties.name}"></span>
        </div>
        <div class="pricebox">
          <strike th:if="${product.discout>0}" th:text="*{#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')+'đ'}"></strike>
          <span class="regular-price" th:text="*{#numbers.formatDecimal(product.hostSale(), 0, 'COMMA', 0, 'POINT')+'đ'}"></span>
        </div>
        <div class="row" style="margin-left: 2px;margin-bottom: 5px">
          <select class="nice-select" id="productDetails">
            <option value="" >Chọn màu sắc</option>
            <option th:each="item:${productDetailsSinggle}" th:value="${item.id}" th:text="${item.color}" ></option>
          </select>
          <p class="text-danger" id="errorColor"></p>
        </div>
        <div class="quantity-cart-box d-flex align-items-center">
          <div class="quantity">
            <div class="pro-qty"><input id="quantity" type="text" value="1"></div>
          </div>
          <div class="action_link">
            <button class="btn btn-danger"  onclick="addToCart()">add to cart<i class="fa fa-shopping-cart"></i></button>
          </div>
        </div>
        <div class="useful-links mt-20">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-refresh"></i>compare</a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="fa fa-heart-o"></i>wishlist</a>
        </div>
        <div class="share-icon mt-20">
          <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
          <a class="twitter" href="#"><i class="fa fa-twitter"></i>tweet</a>
          <a class="pinterest" href="#"><i class="fa fa-pinterest"></i>save</a>
          <a class="google" href="#"><i class="fa fa-google-plus"></i>share</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    function addToCart() {
      var productDetails = $('#productDetails').val();
      var quantity = $('#quantity').val();
      if(productDetails==""){
        document.getElementById("errorColor").innerHTML="Mời chọn màu"
        return
      }else {
        document.getElementById("errorColor").innerHTML="";
      }
      $.ajax({
        url: '/dienthoaiviet/cart',
        type: "POST",
        contentType: 'application/json',
        data: JSON.stringify({
          productDetailsId: productDetails,
          quantity: quantity
        }),
        success: function (data) {
         if(data==false){
           alert("mua hàng thất bại")
         }
         if(data=="quantity = 0"){
           swal({
             title: "Are you sure?",
             text: "Mời nhập số lượng sản phẩm lớn hơn 0!",
             icon: "warning",
             dangerMode: true,
           })
         }
         else if(data=="out of product"){
           swal({
             title: "Are you sure?",
             text: "Rất tiếc tạm thời chúng tôi hết hàng!",
             icon: "warning",
             dangerMode: true,
           })
         }
         else if(data=="quantity is too"){
           swal({
             title: "Are you sure?",
             text: "Rất tiếc chúng tôi không còn đủ hàng bạn muốn mua xin liên hệ " +
                     "với chúng tôi để được phục vụ tốt nhất!",
             icon: "warning",
             dangerMode: true,
           })
         }
         else {
           swal("Thêm vào giỏ hàng thành công", "", "success").then(function (e) {
             if (e) window.location = "/dienthoaiviet"
           })
         }
        }
      })
    }
  </script>
</div>
</body>
</html>