<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>DienThoaiVN</title>
</head>
<body>
<div class="feature-category-area" th:fragment="new">
  <div class="section-title mb-30">
    <div class="title-icon">
      <i class="fa fa-flask"></i>
    </div>
    <h3>Điện thoại Iphone</h3>
  </div> <!-- section title end -->
  <!-- featured category start -->
  <div class="featured-carousel-active slick-padding slick-arrow-style">
    <!-- product single item start -->
    <div class="product-item fix" th:each="item: ${productIphone}">
      <div class="product-thumb">
        <a th:href="@{'/dienthoaiviet/'+${item.id}}">
          <img th:src="${item.image}" class="img-pri" alt="">
        </a>
        <div class="product-action-link">
          <a href="#" data-toggle="modal" data-target="#quick_view"> <span
                  data-toggle="tooltip" data-placement="left" title="Quick view"><i
                  class="fa fa-search"></i></span> </a>
          <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i
                  class="fa fa-heart-o"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i
                  class="fa fa-refresh"></i></a>
          <a th:href="@{'/dienthoaiviet/'+${item.id}}" data-toggle="tooltip" data-placement="left" title="Add to cart"><i
                  class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="product-content">
        <h4><a th:href="@{'/dienthoaiviet/'+${item.id}}"  th:text="${item.name}"></a></h4>
        <div class="pricebox">
          <strike th:if="${item.discout>0}" th:text="*{#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT')+'đ'}"></strike>
          <span class="regular-price" th:text="*{#numbers.formatDecimal(item.hostSale(), 0, 'COMMA', 0, 'POINT')+'đ'}"></span>
          <div class="ratings">
            <span class="good"><i class="fa fa-star"></i></span>
            <span class="good"><i class="fa fa-star"></i></span>
            <span class="good"><i class="fa fa-star"></i></span>
            <span class="good"><i class="fa fa-star"></i></span>
            <span><i class="fa fa-star"></i></span>
            <div class="pro-review">
              <span>1 review(s)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- product single item end -->
  </div>
  <!-- featured category end -->
</div>
</body>
</html>